// Base layout

body, html {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

.site-header,
.site-footer,
.page-content {
  font-size: 1.6rem;
}

h1 {
  // font-size: 4.6rem;
}


.container {
  width: $wrapper-width;
  margin: 0 auto;
}


// Header
.site-header {
  // min-height: 60vh;
  position: relative;
}

.site-nav {
  ul {
    list-style: none;
    padding: 0;

    li {}
  }
}
