/**
 * Syntax highlighting styles
 */
@import 'syntax-highlighting/solarized-dark';

$default-border: solid 0.2rem rgba(0, 0, 0, .12);

.highlight {
  @extend %vertical-rhythm;
  border-top: $default-border;
  border-bottom: $default-border;
  background: rgba(255, 255, 255, .88);

  > pre {
    padding: 1rem;
    margin-bottom: 0;
  }
}
