---
layout: default
---
<div class="page-content">
  <header class="post__header">
    <div class="post__header--wrap">
      <h1 class="post__header--heading">{{ page.title }}</h1>
      <p>{{ page.subtitle }}</p>
      <p class="post__meta-timestamp text-muted">
        — {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %} —
      </p>
    </div>
  </header>
  <div class="container">
    <div class="post">
      <div class="post__meta">
        <ul class="post-tags">
          {% for tag in page.tags %}
          <li><span class="tag tag-default">{{ tag }}</span></li>
          {% endfor %}
        </ul>
      </div>

      <article class="post-content">
        {{ content }}
      </article>

    </div>
  </div>
</div>
